extends layout

block content
  h1 Author: #{author.name}
  if author.lifespan
    p= author.lifespan

  if author_books.length
    p.text-warning #[strong Delete the following books before attempting to delete this author.]

    div(style='margin-left: 20px; margin-top: 20px')
      h4 Books

      dl
        each book in author_books
          dt: a(href=book.url) !{book.title}
          dd !{book.summary}
  else 
    p.text-warning Do you really want to delete this author?

    form(method='POST' action='')
      .form-group
        input#author_id.form-control(type='hidden' name='author_id' required='true' 
          value=author._id
        )
      button.btn.btn-primary(type="submit") Delete


