extends layout

block content

  h1 Book: !{book.title}

  p #[strong Author:] 
    a(href=book.author.url) !{book.author.name}

  p #[strong Summary:] !{book.summary}

  p #[strong ISBN:] !{book.isbn}

  p #[strong Genre:] 
    each genre, index in book.genre
      a(href=genre.url) !{genre.name}
      if index < book.genre.length - 1
        |, 

  div(style='margin-left:20px; margin-top:20px')
    h4 Copies

    each bookinstance in book_instances
      hr
      if bookinstance.status == 'Available'
        p.text-success !{bookinstance.status}
      else if bookinstance.status == 'Maintenance'
        p.text-danger !{bookinstance.status}
      else
        p.text-warning !{bookinstance.status}
      p #[strong Imprint:] !{bookinstance.imprint}
      if bookinstance.status != 'Available'
        p #[strong Due back:] !{bookinstance.due_back_formatted}
      p #[strong Id:] 
        a(href=bookinstance.url) !{bookinstance._id}
    else 
      p There are no copies of the book.

  hr
  p
    a(href=book.url + '/delete') Delete Book
  p
    a(href=book.url + '/update') Update Book

