extends layout

block content
  h1 Book: #{book.title}

  p #[strong Author:] 
    a(href=book.author.url) #{book.author.name}

  p #[strong Summary:] #{book.summary}

  p #[strong ISBN:] #{book.isbn}

  p #[strong Genre:] 
    each genre, index in book.genre
      a(href=genre.url) #{genre.name}
      if index < book.genre.length - 1
        |, 

  if book_instances.length
    p.text-warning #[strong Delete the following copies before attempting to delete this book.]

    div(style='margin-left:20px; margin-top:20px')
      h4 Copies

      each bookinstance in book_instances
        hr
        if bookinstance.status == 'Available'
          p.text-success #{bookinstance.status}
        else if bookinstance.status == 'Maintenance'
          p.text-danger #{bookinstance.status}
        else
          p.text-warning #{bookinstance.status}
        p #[strong Imprint:] #{bookinstance.imprint}
        if bookinstance.status != 'Available'
          p #[strong Due back:] #{bookinstance.due_back_formatted}
        p #[strong Id:] 
          a(href=bookinstance.url) #{bookinstance._id}

  else
    p.text-warning Do you really want to delete this book?

    form(method='POST' action='')
      .form-group
        input#book_id.form-control(type='hidden' name='book_id' required='true' 
          value=book._id
        )
      button.btn.btn-primary(type="submit") Delete
