extends layout

block content
  h1 Genre: #{genre.name}

  if genre_books.length
    p.text-warning #[strong Delete the following books before attempting to delete this genre.]

    div(style='margin-left: 20px; margin-top: 20px')
      h4 Books

      dl
        each book in genre_books
          dt 
            a(href=book.url) !{book.title}
          dd !{book.summary}
  else
    p.text-warning Do you really want to delete this genre?

    form(action="" method="post")
      .form-group
        input#genre_id.form-control(type='hidden' name='genre_id' required='true'
          value=genre._id
        )
      button.btn.btn-primary(type='submit') Delete


